
<!DOCTYPE HTML>
<html>
<head>
<title>Movie_Flix</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- start plugins -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>
</head>
<body>
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><a href="index.html"><img src="images/logo.jpg" alt=""/></a></div>
		    <div class="col-sm-6 nav">
			  <ul>
				 
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="#"> </a> </span></li>
				 
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv series"><a href="#"> </a></span></li>
				 
			 </ul>
			</div>
			<div class="col-sm-3 header_right">
			   <ul class="header_right_box">
				 <ul class="header_right_box">
				 <li>Welcome user</li>
				 <li><p><a href="login.html">Logout</a></p></li>
				 
				 <div class="clearfix"> </div>
			   </ul>
			   </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>
	      <div class="slider">
	   <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="images/banner.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
			    </div>
			</li>
	        <li><img src="images/banner1.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
			    </div>
			</li>
	        <li><img src="images/banner2.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
			    </div>
			</li>
	      </ul>
	    </div>
	    <div class="banner_desc">
			    	<div class="col-md-9">
			    		<ul class="list_1">
			    			<li>Published <span class="m_1">Feb 20, 2015</span></li>
			    			<li>Updated <span class="m_1">Feb 20 2015</span></li>
			    			<li>Rating <span class="m_1"><img src="images/rating.png" alt=""/></span></li>
			    		</ul>
			    	</div>
			    	<div class="col-md-3 grid_1">
			    		
			    	</div>
			    </div>
      </div>
      <div class="content">
      	<div class="box_1">
      	 <h1 class="m_2">Featured Movies and TV Series</h1>
      	 <div class="search">
		    <form>
				<input type="text" value="Search..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
				<input type="submit" value="">
		    </form>
		</div>
		<div class="clearfix"> </div>
		

				





        <div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
							<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 3,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  false,
									        pagination : false,
									      });
									    });
									   </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel text-center">
					                <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTA5MzAzNTcyNjZeQTJeQWpwZ15BbWU3MDUyMzE1MTk@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250" />
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTY1NDcwMDcxN15BMl5BanBnXkFtZTgwMDI1NTQzNDE@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTgzMzg3NDMxOF5BMl5BanBnXkFtZTgwNjUwMjQyNzE@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTYwOTEzMDMzMl5BMl5BanBnXkFtZTgwNzExODIzNzE@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
										
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BODM2NzAwMjgxNF5BMl5BanBnXkFtZTcwNzYwNjkzMQ@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
				              </div>
						<!--//sreen-gallery-cursual---->
							
					</div>

		
<div class="d-products f-products">
					
							<!----sreen-gallery-cursual---->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
							<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo1").owlCarousel({
									        items : 3,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  false,
									        pagination : false,
									      });
									    });
									   </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo1" class="owl-carousel text-center">
					                <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTg3NTkwNzAxOF5BMl5BanBnXkFtZTcwMjM1NjI5MQ@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMTg3NTkwNzAxOF5BMl5BanBnXkFtZTcwMjM1NjI5MQ@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMjA4NTkzNjg1OF5BMl5BanBnXkFtZTcwNjg3MTI1Ng@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMjA4NTkzNjg1OF5BMl5BanBnXkFtZTcwNjg3MTI1Ng@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250" />
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BMjIzMDI4MTUzOV5BMl5BanBnXkFtZTcwNDY3NjA3Mg@@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
					                 <div class="item">
					                	<div onclick="location.href='single.html';" class="product-grid">
											<div class="product-pic">
												<img src="http://ia.media-imdb.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@._V1_SX300.jpg" title="Elliot Boots" height="200" width="250"/>
												<div class="caption1">
						                              
				    	                              <p class="m_3">Guardians of the Galaxy</p>
				                                </div>
											</div>
											
										</div>
					                </div>
				              </div>
						<!--//sreen-gallery-cursual---->
							
					</div>
				</div>


       
      



		
      </div>
   </div>
 </div>
 
<div class="container"> 
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"></span>
		</div>		
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="images/logo.jpg" alt=""/>
				</div> 
	          <br>
	          
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					
					<div class="copy">
				      <p></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>		
</body>
</html>