
<!DOCTYPE HTML>
<html>
<head>
<title>Movie_Flix</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><a href="index.html"><img src="images/logo.jpg" alt=""/></a></div>
		    <div class="col-sm-6 nav">
			  <ul>
				 
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="#"> </a></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv series"><a href="#"> </a></span></li>
			 </ul>
			</div>
			<div class="col-sm-3 header_right">
			   <ul class="header_right_box">
			   <ul class="header_right_box">
				 <li>Welcome user</li>
				 <li><p><a href="login.html">Logout</a></p></li>
				 
				 <div class="clearfix"> </div>
				 </ul>
			   </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>
	   <div class="content">
      	   <div class="movie_top">
      	         <div class="col-md-9 movie_box">
                        <div class="grid images_3_of_2">
                        	<div class="movie_image">
                                <span class="movie_rating">5.0</span>
                              <a href="http://www.imdb.com/title/tt2395427/">  <img src="images/single.jpg" class="img-responsive" alt=""/> </a>
                            </div>
                            <div class="movie_rate">
                            	<div class="rating_desc"><p>Your Vote :</p></div>
                            	<form action="" class="sky-form">
							     <fieldset>					
								   <section>
								     <div class="rating">
										<input type="radio" name="stars-rating" id="stars-rating-5">
										<label for="stars-rating-5"><i class="icon-star"></i></label>
										<input type="radio" name="stars-rating" id="stars-rating-4">
										<label for="stars-rating-4"><i class="icon-star"></i></label>
										<input type="radio" name="stars-rating" id="stars-rating-3">
										<label for="stars-rating-3"><i class="icon-star"></i></label>
										<input type="radio" name="stars-rating" id="stars-rating-2">
										<label for="stars-rating-2"><i class="icon-star"></i></label>
										<input type="radio" name="stars-rating" id="stars-rating-1">
										<label for="stars-rating-1"><i class="icon-star"></i></label>
									 </div>
								  </section>
							    </fieldset>
						  	   </form>
						  	   <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="desc1 span_3_of_2">
                            <p class="movie_option"><strong>Title: </strong>Avengers: Age of Ultron</p>
                            <p class="movie_option"><strong>Year: </strong>2014</p>
                            <p class="movie_option"><strong>Rated: </strong>PG-13</p>
                            <p class="movie_option"><strong>Release date: </strong>December 12, 2014</p>
                            <p class="movie_option"><strong>Run Time: </strong>141 min</p>
                            <p class="movie_option"><strong>Genre: </strong>Action, Adventure</p>
                            <p class="movie_option"><strong>Director: </strong><a href="#">Joss Whedon </a></p>
                        	<p class="movie_option"><strong>Writer: </strong><a href="#">Joss Whedon, Stan Lee (Marvel comics), Jack Kirby (Marvel comics) </a></p>
                        	<p class="movie_option"><strong>Language: </strong><a href="#">English </a></p>
                        	<p class="movie_option"><strong>Country: </strong><a href="#">established</a>, <a href="#">USA</a></p>
                        	<p class="movie_option"><strong>Awards: </strong><a href="#">1 win & 12 nominations </a></p>
                        	<p class="movie_option"><strong>Actors: </strong><a href="#">Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans</a>
                        	<p class="movie_option"><strong>Meta Score: </strong><a href="#">66</a>
                        	<p class="movie_option"><strong>ImdbRating: </strong><a href="#">7.6</a>
                        	<p class="movie_option"><strong>ImdbVotes: </strong><a href="#">370909</a>
                        	
                            
                            
                         </div>
                        <div class="clearfix"> </div>
                        <p class="m_4">When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans .</p>
		                <form method="post" action="contact-post.html">
							
							<div class="text">
			                   <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Comment:</textarea>
			                </div>
			                <div class="form-submit1">
					           <input name="submit" type="submit" id="submit" value="Submit Your Comment"><br>
					        </div>
							<div class="clearfix"></div>
                 		</form>
		                <div class="single">
		                <h1>10 Comments</h1>
		                <ul class="single_list">
					        <li>
					            <div class="preview"><a href="#"><img src="images/2.jpg" class="img-responsive" alt=""></a></div>
					            <div class="data">
					               
					                <p>nice one.</p>
					            </div>
					            <div class="clearfix"></div>
					        </li>
					         <li>
					            <div class="preview"><a href="#"><img src="images/3.jpg" class="img-responsive" alt=""></a></div>
					            <div class="data">
					                
					                <p>avg </p>
					            </div>
					            <div class="clearfix"></div>
					        </li>
					         <li>
					            <div class="preview"><a href="#"><img src="images/4.jpg" class="img-responsive" alt=""></a></div>
					            <div class="data">
					               
					                <p>ok</p>
					            </div>
					           <div class="clearfix"></div>
					        </li>
					     	
					    
					         <li>
					            <div class="preview"><a href="#"><img src="images/7.jpg" class="img-responsive" alt=""></a></div>
					            <div class="data">
					               
					                <p>sbkd</p>
					            </div>
					            <div class="clearfix"></div>
					        </li>
			  			</ul>
                      </div>
                      </div>
                     <div class="col-md-3">
                      	<div class="movie_img"><div class="grid_2">
							<img src="images/pic6.jpg" class="img-responsive" alt="">
							<div class="caption1">
									
							    	<p class="m_3">Guardians of the Galaxy</p>
							</div>
						    </div>
						   </div>
                      	  <div class="grid_2 col_1">
							<img src="images/pic2.jpg" class="img-responsive" alt="">
							<div class="caption1">
								
						    	<p class="m_3">Guardians of the Galaxy</p>
							</div>
						   </div>
						    <div class="grid_2 col_1">
							<img src="images/pic9.jpg" class="img-responsive" alt="">
							<div class="caption1">
								
						    	<p class="m_3">Guardians of the Galaxy</p>
							</div>
						   </div>
		               </div> 
                      <div class="clearfix"> </div>
                  </div>
           </div>
    </div>
</div>
<div class="container"> 
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"> </span>
		</div>		
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="images/logo.jpg" alt=""/>
				</div> 
	          <br>
	          
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					
					<div class="copy">
				      <p></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>		
</body>
</html>